<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 文件记录适配器 -->
	<appender name="dailyFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${webapp.root}/log4j/website.log" />
		<param name="DatePattern" value="'website.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- c 日志器 -->
			<!-- C 类 -->
			<!-- d 时间 -->
			<!-- F 文件 -->
			<!-- l 详细位置 -->
			<!-- L 代码行 -->
			<!-- m 消息 -->
			<!-- M 方法 -->
			<!-- n 换行 -->
			<!-- p 级别 -->
			<!-- r 记录耗时 -->
			<!-- t 进程 -->
			<!-- x ？ -->
			<!-- X ？ -->
			<param name="ConversionPattern"
				value=" %c%n %p%n %C%n %M%n %l%n %L%n %d%n %m%n %r%n %F%n %t%n %x%n %X%n %n%n%n" />
		</layout>
	</appender>

	<!-- 控制台记录适配器 -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p %d %l%n%m%n%n" />
		</layout>
	</appender>
	
	<logger name="org.apache.struts2">
		<level value="WARN"></level>
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<logger name="com.opensymphony">
		<level value="WARN"></level>
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.springframework">
		<level value="WARN"></level>
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.hibernate">
		<level value="INFO"></level>
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="cn.com.ufgov.hainan">
		<level value="ALL"></level>
		<appender-ref ref="consoleAppender" />
	</logger>

</log4j:configuration>