/*
 * 图标
 */
.frameworkIconHome {
	background-image: url("image/icon/home.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconDisableLeft {
	background-image: url("image/icon/disableLeft.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconDisableTop {
	background-image: url("image/icon/disableTop.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconEnableLeft {
	background-image: url("image/icon/enableLeft.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconEnableTop {
	background-image: url("image/icon/enableTop.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconSync {
	background-image: url("image/icon/sync.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconQuery {
	background-image: url("image/icon/query.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconInsert {
	background-image: url("image/icon/insert.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconUpdate {
	background-image: url("image/icon/update.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconDelete {
	background-image: url("image/icon/delete.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconFirst {
	background-image: url("image/icon/first.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconPrevious {
	background-image: url("image/icon/previous.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconNext {
	background-image: url("image/icon/next.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconLast {
	background-image: url("image/icon/last.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.frameworkIconJump {
	background-image: url("image/icon/jump.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
/*
 * 分页器
 */
.frameworkPageCurrentIndex {
	min-width: 64px;
}

.frameworkPageIndex {
	text-decoration: underline;
	min-width: 64px;
}
/*
 * 表单
 */
.frameworkForm {
	min-width: 320px;
}

.frameworkForm .dijitTextBox {
	width: 160px;
}

.frameworkForm .dijitTextArea {
	width: 160px;
	padding: 0px;
}

.frameworkForm .dijitSelect .dijitButtonContents {
	width: 138px;
}

.frameworkForm .dijitSelect .dijitButtonNode {
	width: 18px;
}

.frameworkForm .dijitSpinner .dijitInputInner {
	width: 140px;
}

.frameworkForm .dijitSpinner .dijitSpinnerButtonContainer {
	width: 16px;
}

.frameworkForm .dijitButtonNode {
	width: 80px;
}